@import "tailwindcss";

:root {
  --color-primary: #0AEB8C;
  --color-secondary: #052A2D;
  --color-dark: #151817;
  --color-error: #FF0000;
  --color-light: #D2FFEC;

  --font-sans: 'Roboto', sans-serif;

}



/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */



*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  box-sizing: border-box !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  color: var(--color-primary);
  background: var(--color-secondary);
  overflow-x: hidden;
}

.h1 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 24pt;
}

.h2 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 20pt;
}

.h3 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 16pt;
}

.h4 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14pt;
}

.btn1 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 14pt;
}

.btn2 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 16pt;
}

.text1 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 14pt;
}

.text2 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 12pt;
}

.text-error {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 14pt;
  color: var(--color-error);
}